# R files & folders
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
# system files .DS_Store on macOS
.DS_Store
# MDB data files
*.mdb
# CSV files that are produced for Fact Sheet
*.csv
# DOCX files that are produced for Data Book
*.docx
*.doc
# Folders with EpiInfo programs
EpiInfoPrograms/